<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-CA">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>javascript-calendars: {{ page.title }}</title>
    <link rel="stylesheet" href="/media/css/reset-fonts-grids.css" />
    <link rel="stylesheet" href="/media/css/base.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/calendars.js"></script>
  </head>
  <body>

    <div id="doc">
      <div id="hd">
        <a href="/">yellowseed</a>
        <a href="https://github.com/jtacoma/javascript-calendars">Fork this site on GitHub</a>
      </div>
      <div id="bd">

        {{ content }}

      </div>
      <div id="ft">
      </div>
    </div>

  </body>
</html>
