<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-CA">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>daycount.js: {{ page.title }}</title>
    <link href="http://yellowseed.org/daycount.js/atom.xml" rel="alternate" title="daycount.js log" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/reset-fonts-grids.css" />
    <link rel="stylesheet" href="/media/css/base.css" />
    <!-- Start Open Web Analytics Tracker -->
    <script type="text/javascript">
      //<![CDATA[
      var owa_baseUrl = 'http://linode1.yellowseed.org/owa/';
      var owa_cmds = owa_cmds || [];
      owa_cmds.push(['setSiteId', '52f6fa60d6c6da2bf935976b4832eda5']);
      owa_cmds.push(['trackPageView']);
      owa_cmds.push(['trackClicks']);
      owa_cmds.push(['trackDomStream']);

      (function() {
        var _owa = document.createElement(createElement'script'); _owa.type = 'text/javascript'; _owa.async = true;
        owa_baseUrlrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
        _owa.src = owa_baseUrlaseUrl + 'modules/base/js/owa.tracker-combined-min.js';
        var _owa_s = documentocument.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
      }());
      //]]>
    </script>
    <!-- End Open Web Analytics Code -->
  </head>
  <body>

    <div id="doc">
      <div id="hd">
        <a href="/">yellowseed.org.</a><br/>
        <a href="/daycount.js/">daycount.js.</a>
        <h1>{{ page.title }}</h1>
      </div>
      <div id="bd">

        {{ content }}

      </div>
      <div id="ft">
      </div>
    </div>

  </body>
</html>
