<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-CA">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>daycount.js: {{ page.title }}</title>
    <link href="http://yellowseed.org/daycount.js/atom.xml" rel="alternate" title="daycount.js log" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/reset-fonts-grids.css" />
    <link rel="stylesheet" href="/media/css/base.css" />
  </head>
  <body>

    <div id="doc">
      <div id="hd">
        <a href="/">yellowseed.org.</a><br/>
        <a href="/daycount.js/">daycount.js.</a>
        <h1>{{ page.title }}</h1>
      </div>
      <div id="bd">

        {{ content }}

      </div>
      <div id="ft">
      </div>
    </div>

  </body>
</html>
